<div class="p-3">
    <div class="flex space-x-2 p-2 bg-slate-400 dark:bg-slate-700 rounded-xl drop-shadow-md justify-between">
    

        <p-image [src]="(user | async)!.photoUrl" width="50"
            imageClass="flex-grow md:flex-none rounded-full"></p-image>

    
        <div class="md:flex-grow hidden md:block">
            <p class="font-bold text-lg">{{ (user | async)?.name }}</p>
            <p>{{ (user | async)?.email }}</p>
        </div>
    
        <div class="flex-none">
            <button pButton label="Cerrar Sesión" class="p-button-danger h-full" (click)="signout()"></button>
        </div>
    
        <div class="flex flex-none items-center bg-gray-200 dark:bg-slate-500 rounded-md max-w-min max-h-min px-2">
            <i class="pi pi-sun text-yellow-500" style="font-size: 2rem;" *ngIf="!isOnDarkTheme"></i>
            <i class="pi pi-moon text-gray-300" style="font-size: 2rem;" *ngIf="isOnDarkTheme"></i>
      
            <p-inputSwitch (onChange)="themeSwitchClick($event)" [(ngModel)]="isOnDarkTheme" class="max-h-min flex pl-2">
            </p-inputSwitch>
      
        </div>
    
    </div>

</div>