<div class="bg-gradient-to-r dark:from-slate-900 dark:to-slate-700 dark:text-slate-50 from-slate-300 to-slate-50 min-w-screen min-h-screen overflow-hidden">
  
  <div class="flex items-center bg-gray-200 dark:bg-slate-500 rounded-lg max-w-min p-1 fixed top-0 right-0">
    <i class="pi pi-sun text-yellow-500" style="font-size: 2rem;" *ngIf="!isOnDarkTheme"></i>
    <i class="pi pi-moon text-gray-300" style="font-size: 2rem;" *ngIf="isOnDarkTheme"></i>

    <p-inputSwitch
      (onChange)="themeSwitchClick($event)"
      [(ngModel)]="isOnDarkTheme"
      class="max-h-min flex pl-2"
    ></p-inputSwitch>

  </div>

  <router-outlet></router-outlet>

</div>


